# By document type
*~
*.txt


# Specific folder to ignore
.stack-work/
.vscode


# Other file or folder to ignore
glados
private*
stack.yaml.lock
lambdananas


# useless file haskell
*.hi
*.o
GLaDOS.cabal
