# By document type
*~
*.txt


# Specific folder to ignore
.stack-work/
.vscode


# Other file or folder to ignore
glados
Vm
private*
stack.yaml.lock
lambdananas
lip.lop


# useless file haskell
*.hi
*.o
GLaDOS.cabal

# By document type
*~
*.txt


# Specific folder to ignore
vm/.stack-work/
vm/.vscode


# Other file or folder to ignore
vm/glados
vm/private*
vm/stack.yaml.lock
vm/lambdananas


# useless file haskell
vm/*.hi
vm/*.o
vm/Vm.cabal
